<h3>Recent Activities</h3>
<div class="w-auto text-white bgradient rounded-3 shadow-lg">
    {% for message in pmessages %}
    <div class="position-relative border-bottom">
        <img src="https://github.com/twbs.png" width="32" height="32" class="rounded-circle flex-shrink-0">
        <a href="{% url 'profile' message.user.id %}" class="text-white">@{{message.user}}</a>
        <div class="d-flex p-3 gap-2 w-100 justify-content-between">
            <div>
                <h6 class="">Replied to {{message.post}}</h6>
                <p class="">{{message.body}}</p>
                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}" class="text-white"><button type="button" class="btn btn-outline-light me-2">Delete</button></a>{% endif %}
                <small>{{message.created|timesince}} ago</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>