{% extends 'base.html' %} {% block content %} {% load static %}
<div class="d-flex align-items-center text-center my-5 container-fluid justify-content-center ">

    <main class="m-auto text-white bglight rounded-3 border col-lg-6 col-md-8 col-sm-12">
        <div class="pp py-3"><img src="{% static 'stars.jpg' %}" class="w-25 rounded-3"></div>
        <h3>@{{user.username}}</h3>
    </main>

</div>
<main class="container-fluid row">

    <aside class="col-lg-3 col-md-3 d-none d-md-block">
        {% include 'base/topics_component.html' %}

    </aside>

    <section class="col-lg-6 col-md-9 col-sm-12">

        {% include 'base/feed_component.html' %}

    </section>

    <aside class="col-lg-3 d-none d-lg-block">

        {% include 'base/activity_component.html' %}
    </aside>
</main>

{% endblock %}